<form action="{{ route('soins.store') }}" method="post">
   @csrf
   <div class="form-group">
      <label for="" class="col-form-label">Contexte :</label>
      <select class="form-control col-md-5" name="contexte" id="contexte">
         <option value="">Veuillez sélectioner le contexte</option>
         <option value="Hospitalisation">Hospitalisation</option>
         <option value="Bloc opératoire">Bloc opératoire</option>
      </select>
   </div>
   <p>Liste des produits utilisés :</p>
   @foreach ($produits as $produit)
   <ul class="list-inline">
      <li class="list-inline-item">
         {{ $produit->designation }}
         <input type="checkbox">
      </li>
   </ul>
   @endforeach
   <div class="form-group">
      <label for="" class="col-form-label">Liste des
      soins:</label>
      <textarea id="1froala-editor" rows="15" name="content" class="form-control"></textarea>
   </div>
   <input type="hidden" value="{{ $patient->id }}" name="patient_id">
</form>